$base-color: #504e50c7;

* {
    margin: 0;
    padding: 0;
}

.pagewrapper {
    width: 100%;
    height: auto;
}
/* header */
.headshot {
    border-radius: 50%;
}

.name {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 25px;
}

.links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    border-bottom: 3px solid $base-color;
    margin: 25px
}

.links li {
    padding: 10px;
    color: $base-color;
    
}

.header-subtext {
    display: flex;
    justify-content: center;
}
/* Main */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.blockspace {
    width: 300px;
    height: 300px;
    background: #eeeeee;
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    margin: 5px;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockspace p {
    font-size: 12px;
}

.blockspace1 {
    width: 300px;
    height: 300px;
    background: #b0d4e3;
    background: -moz-linear-gradient(top,  #b0d4e3 0%, #88bacf 100%);
    background: -webkit-linear-gradient(top,  #b0d4e3 0%,#88bacf 100%);
    background: linear-gradient(to bottom,  #b0d4e3 0%,#88bacf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=0 );
    margin: 5px;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blockspace2 {
    width: 300px;
    height: 300px;
    background: #f1e767;
    background: -moz-linear-gradient(top,  #f1e767 0%, #feb645 100%);
    background: -webkit-linear-gradient(top,  #f1e767 0%,#feb645 100%);
    background: linear-gradient(to bottom,  #f1e767 0%,#feb645 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 );
    margin: 5px;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockspace3 {
    width: 300px;
    height: 300px;
    background: #b5bdc8;
    background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%);
    background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
    background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );
    margin: 5px;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockspace4 {
    width: 300px;
    height: auto;
    background: #fac695;
    background: -moz-linear-gradient(top,  #fac695 0%, #f5ab66 47%, #ef8d31 100%);
    background: -webkit-linear-gradient(top,  #fac695 0%,#f5ab66 47%,#ef8d31 100%);
    background: linear-gradient(to bottom,  #fac695 0%,#f5ab66 47%,#ef8d31 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 );
    margin: 5px;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work {
    display: flex;
    flex-direction: row;
}

.work i {
    color: $base-color;
}

h1 {
    color: $base-color;
}

.logolist {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logolist li {
    list-style-type: none;
}

.logolist i {
    color: $base-color;
    padding: 10px;
}