$base-color: #504e50c7;


.home {
    margin: auto;
}

h2 {
    color: $base-color;
    font-size: 30px;
    text-decoration: underline;
}

.info {
    padding: 5px 0 5px 0;
}

.info h3 {
    color: #9ccde2; 
    text-decoration: underline;
}

.werk-ervaring {
    padding: 5px 0 5px 0;
}

.werk-ervaring h3 {
    color: #ece360;
    text-decoration: underline;
}

.skills {
    padding: 5px 0 5px 0;
}

.skills h3 {
    color: #8592a3;
    text-decoration: underline;
}
.andere-shit {
    padding: 5px 0 5px 0;
}


.andere-shit h3 {
    color: #fab370;
    text-decoration: underline;
}

.info-icons {
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.info-icons {
    color: $base-color
}
