

header {
    display: block;
    color: #aeb5b0;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAV2hezhgQByvK9ZNLVXY8qTw7vzm0dCcfZE57dsAdxC59Jn9-Sw);
    background-repeat: no-repeat;
    background-size: cover;
}